.card {
    &.card-sm {
        &>.card-header {
            padding-top: 6px;
            padding-bottom: 6px;
        }
        &>.collapsible>.collapsible-content>.card-body {
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }
    &.card-no-mb {
        margin-bottom: 0 !important;
    }
    &.card-no-p {
        &>.collapsible>.collapsible-content>.card-body {
            padding: 0 !important;
        }
    }
}