.login-page {
    width: 100vw;
    height: 100vh;
    padding-top: 10vh;
    .login-box {
        margin: 0 auto;
        width: 360px;
        .login-logo {
            font-size: 35px;
            text-align: center;
            margin-bottom: 25px;
            font-weight: 300;
            a {
                color: #444;
            }
        }
    }
    @media (max-width: 767.98px) {
        .login-box {
            width: 90%;
        }
    }
}